<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iofrm</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="css/iofrm-style.css">
    <link rel="stylesheet" type="text/css" href="css/iofrm-theme9.css">
   
</head>
<body>
    <div class="form-body">
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">
                    <h3>Get more things done with Loggin platform.</h3>
                    <p>Access to the most powerfull tool in the entire design and web industry.</p>
                    <img src="images/graphic5.svg" alt="">
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <div class="website-logo-inside">
                            <a href="index.html">
                                <div class="logo">
                                    <img class="logo-size" src="images/logo-light.svg" alt="">
                                </div>
                            </a>
                        </div>
                        <h3 class="ml-2">Password Reset</h3>
                        <p class="ml-2">To reset your password, enter the email address you use to sign in to iofrm</p>
                        <form>
                            <div class="row">
                                  <div class="col-md-6">
                                      <input class="form-control" style='width: 172px!important;' type="text" name="username" placeholder="Firstname" required> 
                                  </div>
                                  <div class="col-md-6">
                                     <input class="form-control" type="text" name="username" style='width: 172px!important;' placeholder="Lastname" required>
                                  </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <input class="form-control" type="email" name="email" style='width: 172px!important;' placeholder="Email" required>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" type="text" name="contsct" style='width: 172px!important;' placeholder="Contsct" required>
                                </div>
                                

                          </div>
                          <div class="row">
                            <div class="col-md-6">
                                <input class="form-control" type="password" name="password" style='width: 172px!important;' placeholder="Password" required>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="password" name="password" style='width: 172px!important;' placeholder="Reenter password" required>
                            </div>
                      </div>
                            
                           
                           
                           
                            
                            <div class="form-button full-width">
                                <button id="submit" type="submit"  class="ibtn btn-forget ml-2" >Send Reset Link</button>
                            </div>
                        </form>
                    </div>
                    <div class="form-sent">
                        <div class="website-logo-inside">
                            <a href="index.html">
                                <div class="logo">
                                    <img class="logo-size" src="images/logo-light.svg" alt="">
                                </div>
                            </a>
                        </div>
                        <div class="tick-holder">
                            <div class="tick-icon"></div>
                        </div>
                        <h3>Password link sent</h3>
                        <p>Please check your inbox iofrm@iofrmtemplate.io</p>
                        <div class="info-holder">
                            <span>Unsure if that email address was correct?</span> <a href="#">We can help</a>.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>